/*
Error: Invalid CSS after "        color: ": expected expression (e.g. 1px, bold), was ";"
        on line 22 of sass/_registryContent.scss
        from line 4 of sass/./registry.scss

17:         width: 204px;
18:         height: 60px;
19:         line-height: 60px;
20:         text-align: center;
21:         font-size: 18px;
22:         color: ;
23:         font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
24:         background-color: #239cdc;
25:         cursor: pointer;
26:     }
27: 

Backtrace:
sass/_registryContent.scss:22
sass/./registry.scss:4
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/script/parser.rb:704:in `assert_expr'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/script/parser.rb:75:in `parse'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1051:in `sass_script'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:897:in `value!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:769:in `block in try_declaration'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1165:in `rethrow'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:782:in `try_declaration'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"        color: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 22 of sass/_registryContent.scss\A         from line 4 of sass/./registry.scss\A \A 17:         width: 204px;\A 18:         height: 60px;\A 19:         line-height: 60px;\A 20:         text-align: center;\A 21:         font-size: 18px;\A 22:         color: ;\A 23:         font-family: \"Microsoft Yahei\",Arial, Helvetica, sans-serif;\A 24:         background-color: #239cdc;\A 25:         cursor: pointer;\A 26:     }\A 27: "; }
